.content {
  display: flex;
  flex-wrap: wrap;
}


.header__menu {
  display: none;
}


.hero, .top-news, .scores, .weather, .recent-news {
  order: 10;
}


@media screen and (max-width: 749px) {
  .header__logo {
    height: 48px;
    margin-right: 0.5em;
  }


  .header__title {
    margin-left: 0;
    font-size: 2em;
    vertical-align: bottom; 
    text-align: right;
  }


  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }


  .header__menu svg {
    width: 32px;
    fill: #000000;
  }


  .mobile {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  }


  .mobiletap {
    display: none;
  }
  

  button {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 0;
    text-indent: 200%;
    overflow: hidden;
    background: rgba(255,255,255,.8) url(http://i.imgur.com/vKRaKDX.png) center no-repeat;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-size: 80%;
    width: 30px;
    height: 30px;
    outline: none;
    transition: all 400ms ease;
  }

  .expanded {
      transform: rotate(90deg);
      background-color: transparent;
      border: 0;
    }
  

  .mobilelist {
    display: block;
  }


.mobilelist {
  background: #fff;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  &:hover, &:active, &:focus;
  background: darken(#eee, 3%);
}
}

@media (max-width: 750px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
